<main></main>
<h3>Books</h3>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
  </tr>

  <% @books.each do |book| %>
    <tr> 
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td>
        <%= link_to "Show", book_path(book), class: "show_#{book.id}" %>
        <%= link_to "Edit", edit_book_path(book), class: "edit_#{book.id}" %>
        <%= link_to "Destroy", book_path(book), method: :delete, class: "destroy_#{book.id}" %>
      </td>
    </tr>
  <% end %>
</table>

<h3>New Book</h3>
<%= form_for(@book) do |b| %>
  <h4 class="form_field">Title</h4>
  <%= b.text_field :title, class: "book_title" %>
  <h4 class="form_field">Body</h4>
  <%= b.text_area :body, class: "book_body" %>
  <p><%= b.submit 'Create Book' %></p>
<% end %>
</main>